html,

#columns {
  column-count: 3;
  column-gap: 10px;
  list-style-type: none;
  line-height: 70px;
  position: fixed;
  bottom: 150px;
  width: 1920px;
  margin-left: auto;
  margin-right: auto;
  color: white;
}
body {
  text-align: center;
  font-size: 1.75em;
  text-shadow: 0 .1rem .1rem rgba(0,0,0,.5);
  background-image: url('/img/qmgbackground.png');
}
.home {
  position: fixed;
  width: 15%;
  margin-left: auto;
  margin-right: auto;
  bottom: 30px;
  font-size: 1.75em;
  }
  .next {
  position: fixed;
  text-align: center;
  width: 15%;
  margin-left: auto;
  margin-right: auto;
  bottom: 0px;
  right: 0px;
  font-size: 1.75em;
  }
.intro {
  position: fixed;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  padding-left: 15%;
  line-height: 50px;
}
a {
    color: white;
    background-color: transparent;
    text-decoration: none;
}