html, 
body {
	background-image: url('/img/insigbackground.png');
}
.home {
  position: fixed;
  width: 15%;
  padding-left: 5%;
  margin-left: auto;
  margin-right: auto;
  bottom: 30px;
  font-size: 2.5em;
  }
a {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
