html,

body {
	background-image: url('/img/song.png');
}
.intro {
  position: fixed;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  padding-left: 15%;
  line-height: 50px;
  text-align: center;
  color: white;
  font-size: 1.75em;
}
.lyrics {
  position: fixed;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  right: 20%;
  top: 40%;
  /*padding-left: 10%;*/
  line-height: 50px;
  text-align: center;
  color: white;
  font-size: 1.5em;
}
.lyrics2 {
  position: fixed;
  width: 100%;
  left: 20%;
  margin-left: auto;
  margin-right: auto;
  top: 40%;
  /*padding-left: 10%;*/
  line-height: 50px;
  text-align: center;
  color: white;
  font-size: 1.5em;
}
.audio {
	position: fixed;
  left: 42%;
	bottom: 20px;
	text-align: center;
}
.home {
  position: fixed;
  width: 15%;
  padding-left: 5%;
  margin-left: auto;
  margin-right: auto;
  bottom: 30px;
  font-size: 2.5em;
  }
a {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
